body {
  font-family: sans-serif;
}

.member {
  display: flex;
  align-items: center;
  background-color: #353535;
  color: #fff;
}

.member .code {
  flex: 1;
  font-size: 3.5em;
  margin-left: .5em;
}

.member img {
  width: 4em;
  height: 4em;;
  border-radius: 50%;
  margin: 1em;
}

.member .name {
  margin-right: 1em;
}

.order {
  display: flex;
  padding: 1em 0;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: .1em;
  align-items: center;
}

.order .title {
  margin: 0 .5em;
  color: #888888;
}

.order .products {
  display: flex;
  flex-wrap: wrap;
}

.order .products .product {
  width: 24%;
  display: flex;
  flex-direction: column;
}

.order .products .product img {
  width: 98%;
  padding: 0 2% 2% 0;
}

.order .products .product .info {
  display: flex;
  align-items: center;
  margin-top: -1.5em;
  height: 1.5em;
  background-color: #fcfcfc88;
  font-size: .8em;
  font-weight: bold;
  font-family: monospace;
}

.order .products .product .info .name {
  flex-grow: 1;
  height: 100%;
  overflow: hidden;
  color: #888888;
}

.order .products .product .info .amount {
  margin-right: .5em;
  background-color: #fbfbfb;
  border-radius: 50%;
  padding: .5em;
}

.order img {

}

.order .content {
}

.order .content.paid {
  color: #09bb07;
}

.order .content.not-paid {
  color: #e64340;
}

.list {
	display: flex;
	color: #888888;
	text-decoration: none;
	padding: 1em 0;
}

.list a {
	flex: 1;
	text-decoration: none;
}
