<style>
    .number-pad {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
    }

    .number {
        width: 30%;
        margin: .1em 1%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 48px;
        font-weight: bolder;
        background-color: #7097a8;
        color: white;
        border-radius: .2em;
        padding: .2em 0;
        cursor: pointer;
    }

    .number-center {
        margin-left: 3%;
        margin-right: 3%;
    }
    
</style>

<div class="number-pad">
    <div class="number">1</div>
    <div class="number number-center">2</div>
    <div class="number">3</div>
    <div class="number">4</div>
    <div class="number number-center">5</div>
    <div class="number">6</div>
    <div class="number">7</div>
    <div class="number number-center">8</div>
    <div class="number">9</div>
    <div class="number">-</div>
    <div class="number number-center">0</div>
    <div class="number">.</div>
</div>